*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Overpass', sans-serif;
    font-size: 15px;
}

:root{
    --White: hsl(0, 0%, 100%);
    --LightGrey: hsl(217, 12%, 63%);
    --MediumGrey: hsl(216, 12%, 54%);
    --DarkBlue: hsl(213, 19%, 18%);
    --VeryDarkBlue: hsl(216, 12%, 8%);
    --Orange: hsl(25, 97%, 53%);
}

body{
    background-color: var(--VeryDarkBlue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

#card{
    padding: 20px;
    width: 50%;
    height: 50%;
    max-width: 350px;
    background-color: var(--DarkBlue);
    color: var(--White);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    gap: 30px;
}

#icon{
    display: flex;
    justify-content: baseline;
    align-items: center;
    background-color: var(--LightGrey);
    width: 30px;
    padding: 10px;
    border-radius: 20px;
}

#icon img{
    width: 12px;

}

h1{
    font-weight: 400;
    font-size: 1.5rem;
}

p{
    color: var(--LightGrey);
}

form{
    display: flex;
    justify-content: space-evenly;
    gap: 25px;
}

fieldset{
    padding: 20px;
    display: flex;
    gap: 10px;
    border: none;
}

.number{
    background-color: var(--LightGrey);
    font-size: .8rem;
    border-radius: 100%;
    opacity: .7;
    border: none;
    color: var(--White);
    padding: 10px;
}

label{
    background-color: var(--LightGrey);
    font-size: .8rem;
    border-radius: 100%;
    opacity: .7;
    border: none;
    color: var(--White);
    padding: 15px;
}

label:hover{
    opacity: 1;
}

#submit{
    text-transform: uppercase;
    background-color: var(--Orange);
    border: none;
    border-radius: 20px;
    color: var(--White);
    padding: 10px;
    font-weight: 700;
    opacity: 1;
}

#submit:hover{
    background-color: var(--White);
    color: var(--Orange);
}